<!DOCTYPE html>
<html>

<head>
	<title>Find Favourite Song</title>
	<script src="https://unpkg.com/htmx.org@1.9.11"
		integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
		crossorigin="anonymous"></script>
</head>


<body>
	{{ if not .Winner }}
	<h1>Select the song you like more</h1>
	<form id="select_song_form" name="select_song" hx-post="/select_song" hx-target="#select_song">
		<select id="select_song" name="select_song">
			<option value="1">{{ .Song1 }}</option>
			<option value="2">{{ .Song2 }}</option>
		</select>
		<input type="submit" value="Submit">
	</form>
	{{ else }}
	<h1>The winner is {{ .Winner }}</h1>
	{{ end }}
</body>

</html>
