<!DOCTYPE html>
<html>

<head>
	<title>Find Favourite Song</title>
	<script>
		function select_playlist(e) {
			const data = new FormData();
			data.append('playlist_url', e.getAttribute('playlist_url'));

			fetch('/api/select_playlist', {
				method: "POST",
				body: data,
			}).then(() => window.location.reload())
		}

		function select_session(e) {
			fetch('/api/select_session?session_id=' + e.getAttribute('session_id'), {method: 'POST'})
				.then(() => window.location.reload())
		}
	</script>
</head>

<body>
	<header>
		<h1>FindFavouriteSong</h1>
	</header>

	<main>
		<h1>Enter the URL to your playlist</h1>
		<form action="/api/select_playlist" method="POST">
			<input type="text" name="playlist_url" placeholder="Enter URL">
			<input type="submit" value="Submit">
		</form>
		<button onclick="window.location.href='/stats';">View your statistik</button>
		<h1>Playlists</h1>
		{{ range .Playlists }}
		<button onclick="select_playlist(this)" playlist_url="{{.Url}}">{{ .Name }}</button>
		{{ end }}
		<h1>Incomplete Sessions</h1>
		{{ range .Sessions }}
		<button onclick="select_session(this)" session_id="{{.ID}}">{{ .Playlist }}</button>
		{{ end }}
	</main>
</body>

</html>
