<!DOCTYPE html>
<html>

<head>
	<title>Find Favourite Song</title>
	<script>
		async function fill_in_new_stats(playlist_id) {
			const resp = await fetch(`/api/playlist_statistics?playlist=${playlist_id}`);
			if (!resp.ok) {
				console.error(`error fetching stats: ${resp.status}`)
				return
			}

			const json = await resp.json();
			console.log(json);

			const points_map = Map.groupBy(json, ({ points }) => points);
			const new_stats = document.getElementById('new_statistics');
			[...points_map.keys()].sort((a, b) => a-b).reverse().forEach(points => {
				const points_div = document.createElement('div');
				const points_h2 = document.createElement('h2');
				points_h2.innerText = `${points}`;

				points_div.appendChild(points_h2);

				for (const item of points_map.get(points)) {
					item_div = document.createElement('div');
					item_div.innerHTML = `
						<div class="wrapper">
							<div class="left">
								<img src="${item.image}" />
							</div>
							<div class="right">
								<h3>${item.title}</h3>
								<h4>${item.artists}</h4>
							</div>
						</div>
					`;
					points_div.appendChild(item_div);
				}

				new_stats.appendChild(points_div);
			});
		}
	</script>
</head>

<body>
	<main>
		<button onclick="window.location.href = '/';">Select New Playlist</button>
		<h1>Winners</h1>
		{{ range . }}
		<div class="wrapper">
			<div class="left">
				<img src="{{ .Image }}" />
			</div>
			<div class="right">
				<h3>{{ .Title }}</h3>
				<h4>{{ .Artists }}</h4>
				<h4>{{ .N }}</h4>
			</div>
		</div>
		{{ end }}
		<h1>New Statistics</h1>
		<div id="new_statistics">
		</div>
	</main>
</body>

</html>
