<!DOCTYPE html>
<html>

<head>
	<title>Find Favourite Song</title>
	<style>
		.wrapper {
			display: flex;
		}

		.left {
			flex: 0 0 10%;
			margin: 2rem;
		}

		.right {
			flex: 1;
			margin: 2rem;
		}
	</style>
</head>

<body>
	<main>
		<button onclick="window.location.href = '/';">Select New Playlist</button>
		<h1>Winners</h1>
		{{ range . }}
		<div class="wrapper">
			<div class="left">
				<img src="{{ .Image }}" />
			</div>
			<div class="right">
				<h3>{{ .Title }}</h3>
				<h4>{{ .Artists }}</h4>
				<h4>{{ .N }}</h4>
			</div>
		</div>
		{{ end }}
	</main>
</body>

</html>
