<!DOCTYPE html>
<html>

<head>
	<title>Find Favourite Song</title>
</head>

<body>
	<main>
		<h1>Winner</h1>
		<div>
			<img src="{{ .Image }}" />
			<h3>{{ .Title }}</h3>
			<h4>{{ .Artists }}</h4>
		</div>
		<button onclick="window.location.href = '/';">Select New Playlist</button>
		<button onclick="window.location.href='/stats';">View your statistik</button>
	</main>
</body>

</html>
